@page "/gamelist"
@rendermode InteractiveServer

@using BlazorApp1.server
@using BlazorApp1.server.DbEntity

@inject GameService gameService

<h1>Game List</h1>
<br />
<h2>Ajouter un jeu</h2>
<table class="table param-table">
    <tr>
        <td> 
            <input @bind="newGameTitle" placeholder="Titre" />
        </td>
	    <td>
            <label>Plateforme :</label>
            <select @bind="newGamePlatform">
                @foreach (var platform in Enum.GetValues(typeof(Platform)))
                {
                    <option value="@platform">@platform</option>
                }
            </select>
        </td>
        <td>
            <button class="btn btn-primary" @onclick="AddGame">Ajouter</button>
        </td>
    </tr>
</table>
<br />
<h2>Filtres</h2>
<table class="table param-table">
    <tr>
        <td> 
            <label>Plateforme :</label>
            <select @bind="platformFilter" @bind:after="LoadGames">
                <option value="">ALL</option>
                @foreach (var platform in Enum.GetValues(typeof(Platform)))
                {
                    <option value="@platform">@platform</option>
                }
            </select>
        </td>
        <td>
            To do : <input type="checkbox" @bind="isTodoFilter" @bind:after="LoadGames" />
		</td>
    </tr>
</table>
<table class="table table-striped ">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Plateforme</th>
            <th>Completed</th>
            <th>To do</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in gameList)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Platform</td>
                <td>
                    <input name="Completed" type="checkbox" @bind="item.IsCompleted" @bind:after="@(() => this.UpdateGame(item))" />
                </td>
                <td>
                    <input name="To do" type="checkbox" @bind="item.IsTodo" @bind:after="@(() => this.UpdateGame(item))" />
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" @onclick="@(() => this.DeleteGame(item.Id))">Supprimer</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    private List<Game> gameList = new();

    private string newGameTitle = string.Empty;
    private Platform? newGamePlatform = Platform.PC;

    private Platform? platformFilter;
    private bool isTodoFilter;

    private Platform? PlatformFilter
    {
        get => platformFilter;
        set
        {
            platformFilter = value == null || value.ToString() == "" ? null : value;
        }
    }

    protected override void OnInitialized()
    {
        this.LoadGames();
    }

    private void LoadGames()
    {
        gameList = gameService.RetrieveGames(isTodo: isTodoFilter, platform: this.PlatformFilter);
    }

    private void AddGame()
    {
        if (newGamePlatform != null)
        {
            this.gameService.AddGame(new Game { Id = gameService.GetNextId(), Title = newGameTitle, Platform = newGamePlatform.Value });
            newGameTitle = string.Empty;
            this.LoadGames();
        }
    }

    private void UpdateGame(Game game)
    {
        this.gameService.UpdateGame(game);
        this.LoadGames();
    }

    private void DeleteGame(int gameId)
    {
        this.gameService.DeleteGame(gameId);
        this.LoadGames();
    }
}
